source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget FSharp.Data
nuget xunit
nuget xunit.core
nuget xunit.assert
nuget xunit.runner.console
nuget xunit.runner.visualstudio version_in_path: true
nuget FAKE
nuget Newtonsoft.Json
nuget SourceLink.Fake
nuget FsUnit.Xunit
nuget ExtCore

github fsharp/FAKE modules/Octokit/Octokit.fsx
