source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget FSharp.Data
nuget NUnit
nuget NUnit.Runners
nuget FAKE
nuget Newtonsoft.Json ~> "6.0.8"
nuget SourceLink.Fake
nuget FsUnit

github fsharp/FAKE modules/Octokit/Octokit.fsx
